<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @pec.fname %>
</p>

<p>
  <strong>Mname:</strong>
  <%= @pec.mname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @pec.lname %>
</p>

<p>
  <strong>Per address:</strong>
  <%= @pec.per_address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @pec.mobile %>
</p>

<p>
  <strong>Cor address:</strong>
  <%= @pec.cor_address %>
</p>

<p>
  <strong>Dbirth:</strong>
  <%= @pec.dbirth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @pec.age %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @pec.nationality %>
</p>

<p>
  <strong>Lastcollegename:</strong>
  <%= @pec.lastCollegeName %>
</p>

<p>
  <strong>Lastcollegeaddress:</strong>
  <%= @pec.lastCollegeAddress %>
</p>

<p>
  <strong>Std 12 pass:</strong>
  <%= @pec.std_12_pass %>
</p>

<p>
  <strong>Std 12 pass subjects:</strong>
  <%= @pec.std_12_pass_subjects %>
</p>

<p>
  <strong>Std 12 pass board:</strong>
  <%= @pec.std_12_pass_board %>
</p>

<p>
  <strong>Diploma pass:</strong>
  <%= @pec.diploma_pass %>
</p>

<p>
  <strong>Diploma pass subjects:</strong>
  <%= @pec.diploma_pass_subjects %>
</p>

<p>
  <strong>Diploma pass university:</strong>
  <%= @pec.diploma_pass_university %>
</p>

<p>
  <strong>Graduation pass:</strong>
  <%= @pec.graduation_pass %>
</p>

<p>
  <strong>Graduation pass subjects:</strong>
  <%= @pec.graduation_pass_subjects %>
</p>

<p>
  <strong>Graduation pass university:</strong>
  <%= @pec.graduation_pass_university %>
</p>

<p>
  <strong>Masters pass:</strong>
  <%= @pec.masters_pass %>
</p>

<p>
  <strong>Masters pass subjects:</strong>
  <%= @pec.masters_pass_subjects %>
</p>

<p>
  <strong>Masters pass university:</strong>
  <%= @pec.masters_pass_university %>
</p>

<p>
  <strong>Lastexamname:</strong>
  <%= @pec.lastExamName %>
</p>

<p>
  <strong>Lastexampass:</strong>
  <%= @pec.lastExamPass %>
</p>

<p>
  <strong>Lastexamuniversity:</strong>
  <%= @pec.lastExamUniversity %>
</p>

<p>
  <strong>Lastexamsubjects:</strong>
  <%= @pec.lastExamSubjects %>
</p>

<p>
  <strong>Lastexamfailname:</strong>
  <%= @pec.lastExamFailName %>
</p>

<p>
  <strong>Lastexamfailyear:</strong>
  <%= @pec.lastExamFailYear %>
</p>

<p>
  <strong>Lastexamfailuniversity:</strong>
  <%= @pec.lastExamFailUniversity %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @pec.reason %>
</p>

<p>
  <strong>Constituent class:</strong>
  <%= @pec.constituent_class %>
</p>

<p>
  <strong>Constituentinstitutename:</strong>
  <%= @pec.constituentInstituteName %>
</p>

<p>
  <strong>Constituentinstituteplace:</strong>
  <%= @pec.constituentInstitutePlace %>
</p>

<p>
  <strong>Enteredby:</strong>
  <%= @pec.enteredBy %>
</p>

<%= link_to 'Edit', edit_pec_path(@pec) %> |
<%= link_to 'Back', pecs_path %>
