<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @provisional.fname %>
</p>

<p>
  <strong>Mname:</strong>
  <%= @provisional.mname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @provisional.lname %>
</p>

<p>
  <strong>Per address:</strong>
  <%= @provisional.per_address %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @provisional.mobile %>
</p>

<p>
  <strong>Cor address:</strong>
  <%= @provisional.cor_address %>
</p>

<p>
  <strong>Dbirth:</strong>
  <%= @provisional.dbirth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @provisional.age %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @provisional.nationality %>
</p>

<p>
  <strong>Lastcollegename:</strong>
  <%= @provisional.lastCollegeName %>
</p>

<p>
  <strong>Lastcollegeaddress:</strong>
  <%= @provisional.lastCollegeAddress %>
</p>

<p>
  <strong>Std 12 pass:</strong>
  <%= @provisional.std_12_pass %>
</p>

<p>
  <strong>Std 12 pass subjects:</strong>
  <%= @provisional.std_12_pass_subjects %>
</p>

<p>
  <strong>Std 12 pass board:</strong>
  <%= @provisional.std_12_pass_board %>
</p>

<p>
  <strong>Diploma pass:</strong>
  <%= @provisional.diploma_pass %>
</p>

<p>
  <strong>Diploma pass subjects:</strong>
  <%= @provisional.diploma_pass_subjects %>
</p>

<p>
  <strong>Diploma pass university:</strong>
  <%= @provisional.diploma_pass_university %>
</p>

<p>
  <strong>Graduation pass:</strong>
  <%= @provisional.graduation_pass %>
</p>

<p>
  <strong>Graduation pass subjects:</strong>
  <%= @provisional.graduation_pass_subjects %>
</p>

<p>
  <strong>Graduation pass university:</strong>
  <%= @provisional.graduation_pass_university %>
</p>

<p>
  <strong>Masters pass:</strong>
  <%= @provisional.masters_pass %>
</p>

<p>
  <strong>Masters pass subjects:</strong>
  <%= @provisional.masters_pass_subjects %>
</p>

<p>
  <strong>Masters pass university:</strong>
  <%= @provisional.masters_pass_university %>
</p>

<p>
  <strong>Lastexamname:</strong>
  <%= @provisional.lastExamName %>
</p>

<p>
  <strong>Lastexampass:</strong>
  <%= @provisional.lastExamPass %>
</p>

<p>
  <strong>Lastexamuniversity:</strong>
  <%= @provisional.lastExamUniversity %>
</p>

<p>
  <strong>Lastexamsubjects:</strong>
  <%= @provisional.lastExamSubjects %>
</p>

<p>
  <strong>Lastexamfailname:</strong>
  <%= @provisional.lastExamFailName %>
</p>

<p>
  <strong>Lastexamfailyear:</strong>
  <%= @provisional.lastExamFailYear %>
</p>

<p>
  <strong>Lastexamfailuniversity:</strong>
  <%= @provisional.lastExamFailUniversity %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @provisional.reason %>
</p>

<p>
  <strong>Constituent class:</strong>
  <%= @provisional.constituent_class %>
</p>

<p>
  <strong>Constituentinstitutename:</strong>
  <%= @provisional.constituentInstituteName %>
</p>

<p>
  <strong>Constituentinstituteplace:</strong>
  <%= @provisional.constituentInstitutePlace %>
</p>

<p>
  <strong>Enteredby:</strong>
  <%= @provisional.enteredBy %>
</p>

<%= link_to 'Edit', edit_provisional_path(@provisional) %> |
<%= link_to 'Back', provisionals_path %>
