<p id="notice"><%= notice %></p>

<p>
  <strong>Lastname:</strong>
  <%= @migration.lastName %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @migration.firstName %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @migration.middleName %>
</p>

<p>
  <strong>Joineddate:</strong>
  <%= @migration.joinedDate %>
</p>

<p>
  <strong>Leftdate:</strong>
  <%= @migration.leftDate %>
</p>

<p>
  <strong>Passexam:</strong>
  <%= @migration.passExam %>
</p>

<p>
  <strong>Dateexam:</strong>
  <%= @migration.dateExam %>
</p>

<p>
  <strong>Duepaiddate:</strong>
  <%= @migration.duePaidDate %>
</p>

<p>
  <strong>Todaydate:</strong>
  <%= @migration.todayDate %>
</p>

<p>
  <strong>Enteredby:</strong>
  <%= @migration.enteredBy %>
</p>

<p>
  <strong>Checkedby:</strong>
  <%= @migration.checkedBy %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
